/* Add CSS styles for your web site here and use them in index.html. */
html, body {
  height: 100%;
  width: 100%;
}

/* Element selector */
body {
  background-color: #ede1cf;
}

/* Class selector */
.darkblue {
  color: #107980;
}

/* Id selector */
#links {
  font-style: italic;
  text-align: center
}
#header_buttons {
  background-color: #D9C5BC;
  border-color: gainsboro;
  border-width: 0.5;
}